
@charset "UTF-8";

body {
    margin: 0;
}

.content {
    background-color: #55789d;
    text-align: center;
    margin: auto;
    padding: 50px 15px;

}

.conteudo {
    max-width: 350px;
    background-color: white;
    margin: auto;
    padding: 50px 15px;
    border-radius: 20px;
    font-family: 'Merriweather', serif;
}

img {
    max-width: 300px;
    max-height: 300px;
    border-radius: 20px;
    margin: -30 auto;
}

p {
    font-family: 'Montserrat', sans-serif;
    color: grey;
}